@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,800&family=Staatliches&display=swap");

:root {
  --secondary: #112240;
  --primary: #0a192f;
  --slate: #ccd6f6;
  --green: #00ffff;
  --dark-slate: #8892b0;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border-radius: 5px;
  height: 20px;
}

html::-webkit-scrollbar-track {
  background-color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--primary);
}

._btn {
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 5px;
  padding: 7px 10px;
  text-decoration: none;
  line-height: 35px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

._btn:hover {
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--green);
}

@media screen and (max-width: 900px) {
  ._btn {
    font-size: 18px;
  }
}

.navbar {
  height: 75px;
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}

.navbar-brand img {
  height: 60px;
}

.navbar .nav-link {
  margin: 0 20px;
  color: var(--slate);
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  color: var(--green);
}

.navbar-toggler {
  color: transparent;
  border: none;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--slate);
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=1000);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

@media screen and (max-width: 1200px) {
  .navbar .navbar-nav {
    height: 380px;
    background-color: var(--primary);
    margin-top: -3px;
    text-align: center;
  }

  .nav-item {
    margin: 15px 0;
  }

  .navbar .nav-link {
    font-size: 18px;
  }
}

.intro-content {
  margin-top: 120px;
}

.intro-content h6 {
  color: var(--green);
}

.intro-content h1 {
  color: var(--slate);
  font-size: 50px;
}

.intro-content span {
  color: var(--dark-slate);
  font-size: 50px;
}

.intro-content p {
  color: var(--dark-slate);
  font-size: 18px;
}

.intro-content i {
  margin-top: 40px;
  font-size: 30px;
  color: var(--green);
}

@media screen and (max-width: 900px) {
  .intro-content h1,
  .intro-content span {
    font-size: 32px;
  }

  .intro-content p {
    font-size: 15px;
  }
}

.about {
  margin-top: 120px;
}

.about-content > div {
  height: 650px;
}

.about h3,
.exp-content h3,
.pro-content h3 {
  color: var(--slate);
}

.about h3::before,
.exp-content h3::before,
.pro-content h3::before {
  content: "";
  position: absolute;
  left: 14%;
  bottom: 40%;
  height: 1px;
  width: 150px;
  background-color: var(--green);
}

@media screen and (max-width: 900px) {
  .about h3::before {
    left: 22%;
  }

  .about-content .about-text {
    height: fit-content;
  }
}

@media screen and (max-width: 414px) {
  .about h3::before {
    width: 100px;
    left: 35%;
  }
}

.about-content .about-text p {
  color: var(--dark-slate);
}

.about-content .about-text p a {
  color: var(--green);
}

.about-content .about-text .skills ul li {
  color: var(--dark-slate);
  font-size: 13px;
  margin: 10px 0;
  list-style: none;
}

.about-content .about-text .skills ul li::before {
  content: "\2023";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-content .about-img img {
  height: 60%;
  z-index: 1000;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s transform ease-in-out;
}

.about-content .about-img img:hover {
  transform: scale(1.1);
}

.about-content .about-img::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 350px;
  border: 3px solid var(--green);
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 25px;
}

.exp-content {
  height: auto;
  margin-top: 100px;
}

.exp-content h3::before {
  left: 17%;
}

@media screen and (max-width: 414px) {
  .exp-content {
    margin-top: -50px;
  }

  .exp-content h3::before {
    width: 100px;
    left: 48%;
  }

  .exp-content > div:first-of-type {
    height: auto;
    padding: 20px 0;
  }
}

.exp-content > div {
  border: 1px solid var(--secondary);
  border-radius: 10px;
  height: 320px;
}

.exp-content h5 {
  color: var(--slate);
}

.exp-content h5 span {
  color: var(--green);
}

.exp-content h6 {
  color: var(--dark-slate);
}

.exp-content ul li {
  color: var(--dark-slate);
  font-size: 15px;
  list-style: none;
}

.exp-content ul li::before {
  content: "\2023";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.pro-content {
  height: auto;
  margin-top: 100px;
}

.pro-content h3::before {
  left: 45%;
  bottom: -20%;
}

@media screen and (max-width: 414px) {
  .pro-content h3::before {
    width: 70px;
    left: 40%;
  }
}

.pro-content .work {
  height: 330px;
  background-color: var(--secondary);
  border-radius: 5px;
  box-shadow: 0 0 10px 5px #0c172b;
  cursor: pointer;
  transition: 0.2s transform ease-in-out;
}

.pro-content .work .work-head i {
  font-size: 20px;
  color: var(--dark-slate);
  transition: 0.3s ease-in-out;
}

.pro-content .work .work-head i:hover {
  color: var(--green);
}

.pro-content .work .work-head .folder {
  color: var(--green);
  font-size: 45px;
}

.pro-content .work .work-body {
  margin-bottom: 70px;
}

.pro-content .work .work-body h5 a {
  color: var(--slate);
  transition: 0.3s ease-in-out;
}

.pro-content .work .work-body p {
  color: var(--dark-slate);
  font-size: 14px;
}

.pro-content .work .work-footer p {
  color: var(--dark-slate);
  font-size: 12px;
}

.pro-content .work:hover {
  transform: translateY(-7px);
}

.pro-content .work:hover h5 a {
  color: var(--green);
}

.c-content {
  height: 550px;
}

.c-content h2 {
  color: var(--slate);
}

.c-content p {
  color: var(--dark-slate);
}

.c-content p a {
  color: var(--green);
}

.c-content .c-head {
  color: var(--green);
}

.contact h6,
.contact h6 a {
  color: var(--dark-slate);
  font-size: 15px;
  transition: 0.3s;
}

.contact h6 a:hover {
  color: var(--green);
}
